@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600&family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
   overflow-x: hidden;
}

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(255, 251, 0, 0.364) 0,
      transparent 30px,
      rgba(0, 0, 0, 0.358) 30px,
      transparent 60px,
      rgba(255, 247, 0, 0.336) 120px,
      transparent 240px
    );
    background-color: rgba(63, 67, 14, 0.221);
    z-index: 999;
}

.logo{
    flex: 5;
    display: flex;
    padding: 1rem;
    margin-left: 1rem;
    font-size: larger;
    animation: logo 2s alternate 0s infinite;
}

.logo p::first-letter{
    font-size: x-large;
}

@keyframes logo{
    0%{
        color:red
    }
    50%{
        color: blue;
    }
    100%{
        color: green;
    }
}


.options{
    flex: 2;
    display: flex; 
    padding: 1rem;
    margin-right: 2rem;
    justify-content: space-between;
   
}

.options a{
    text-decoration: none;
    color: black;
    font-size: large;
}

#Home{
    width: 100%;
    height: 100vh;
    background-image: url("./img/stats-bg.jpg");
}

.HomeC{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.constent{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 3rem;
    /* background:linear-gradient(rgb(255, 30, 0),rgb(242, 0, 255)); */
}

.heroimg{
    flex: 2;
}

.heroimg img{
    height: 25rem;
    width: 25rem;
    animation: hero 30s ease-in-out 0s infinite;
}

@keyframes hero{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.constent h3{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    -webkit-text-stroke: 1px rgb(238, 255, 0);
}


#Menu{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 0, 0.261),white,white);
}

.foods{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3em 1rem;
    transition: 1s;
    margin: 3rem;
}

.card:hover{
    transform: scale(1.1,1.1);
    box-shadow: 4px 4px 10px black;
}

.name{
    font-size: 1.6rem;
    color: rgb(64, 155, 155);
    margin-bottom: 0.7rem;
}

.img img{
    height: 15rem;
    width: 15rem;
    animation: hero 30s ease-in-out 0s infinite;
}

#Chef{
    height: 100vh;
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.cmain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chefs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cimg img{
    height: 25rem;
    border-radius: 50%;
    animation: light 3s alternate 0s infinite;
}

.chefs{
    transition: 1s;
}

.chefs:hover{
    transform: scale(1.1,1.1);
}

.cimg #img1{
    height: 21rem;
}

.cimg #img3{
    height: 21rem;
}

@keyframes light{
    0%{
        box-shadow: 0px 0px 20px blue;
        border: 2px dashed blue;
    }
    50%{
        box-shadow: 0px 0px 20px green;
        border: 2px dashed green;
    }
    100%{
        box-shadow: 0px 0px 20px red;
        border: 2px dashed red;
    }
}


  




